body{
  background-color:white;
}
.myImage{
  height: 400px;
  width: 800px;
  margin-left:20%;
}
h1{
  text-align: center;
}

.menu li: hover {
  color: rgba(0,0,204,1);

}
.sub{
  visibility: hidden;
}
