body{
  background-color: grey;
}

.menu li: hover {
  color: rgba(0,0,204,1);

}
.sub{
  visibility: hidden;
}

.menu li:hover .sub{
  visibility:visible;
}
.sub li{
  border-top:1px solid rgba(0,0,0,1);
}
.menu{
  list-style: none;
}
.menu li{
  display:block;
  height:50px;
  width: 125px;
  float:left;
  line-height:50px;
  text-align: center;
  border-right:1px solid #000;
  font-family: 'Francois one', sans-serif;
}
.TimeUpdate {
    position: fixed; /* Sit on top of the page content */
    display: none; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
}
